{% extends 'base/listar.html' %}

{% block titulo %}
  <a class="navbar-brand" href="#">Mis Galerias</a>
{% endblock %}

{% block NavBar %}
  {% if super_u == 'si' %}
    <a href="{% url 'menuAdmin' %}" class="nav-link">Atrás</a>
  {% endif %}
{% endblock %}


{% block nombreLista %}
  <h1>Listado de Galerias</h1>
{% endblock %}

{% block agregar %}
  <a href="{% url 'registroGaleria' %}" class="btn btn-lg btn-primary btn-block" role="button">Agregar Galeria</a>
{% endblock %}


{% block contenido %}

    {% for Objeto in lista_objetos %}
  <div class="col-md-4 col-xs-12 col-sm-12">
    <div class="card sombra" style="margin-top: 20px;">
        <div class="card-header">
          {{Objeto.nombre}}
        </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><!-- ID = {{Objeto.id}} --> Descripcion</h6>
        <p class="card-text">{{Objeto.descripcion}}</p>
        <a href="{% url 'listarFoto' Objeto.id %}" class="btn btn-success">Ver</a>
        <a href="{% url 'editarGaleria' Objeto.id %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'eliminarGaleria' Objeto.id %}" class="btn btn-danger">Borrar</a>
      </div>
    </div>
  </div>

    {% comment %}
    {% endcomment %}
    {% endfor %}

{% endblock %}

{% block paginacion %}

{% if lista_objetos.has_other_pages %}
  <ul class="pagination">
    {% if lista_objetos.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ lista_objetos.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in lista_objetos.paginator.page_range %}
      {% if lista_objetos.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if lista_objetos.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ lista_objetos.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
    </ul>
{% endif %}

{% endblock %}
