{% extends 'base/agregar.html' %}
{% block NavBar %}
<li class="nav-item">
      <a href="{% url 'listarUsuario' %}" class="nav-link">Atrás</a>
</li>
{% endblock %}

    {% block nombreLista %}
      <h1>Agregar Usuario</h1>
    {% endblock %}
      {% block titulo %}
        <a class="navbar-brand" href="#">Agregar Usuario</a>
      {% endblock %}

{% block mensajes %}
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
{% endblock %}


{% block nombreBoton %}
  Guardar cambios
{% endblock %}
