{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap %}


      {% block titulo %}
        <a class="navbar-brand" href="#">Agregar Usuario</a>
      {% endblock %}
    {% block NavBar %}
    <a href="{% url 'listarUsuario' %}" class="nav-link">Atrás</a>
    {% endblock %}

    {% block nombreLista %}
      <h1>Agregar Usuario</h1>
    {% endblock %}
    

{% block contenido %}

  <form class="jumbotron mx-auto" method="post" enctype="multipart/form-data">

{% block mensajes %}
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
{% endblock %}



    {% csrf_token %}
{{ form|bootstrap }}

    <button type="submit" class="btn btn-primary block full-width m-b">
      Registrar
    </button>

  </form>
  {% endblock %}