{% extends 'base/listar.html' %}

{% block titulo %}
  <a class="navbar-brand" href="#">Fotos</a>
{% endblock %}

{% block NavBar %}
<li class="nav-item">
      <a href="{% url 'listarGaleria' %}" class="nav-link">Atrás</a>
</li>
{% endblock %}



{% block agregar %}
  <a href="{% url 'registroFoto' idGaleria %}" class="btn btn-lg btn-primary btn-block" role="button">Agregar imagen</a>
{% endblock %}



{% block nombreLista %}

  <h1>Listado de Fotos/Usuarios</h1>
{% endblock %}

{% block contenido %}
      <div class="col-md-8">
            <div class="row">
  {% if lista_objetos %}
    {% for Objeto in lista_objetos %}

      <div class="col-md-6 col-xs-12 col-sm-12">
        <div class="card sombra " style="margin-top: 20px;" >
          <img class="card-img-top  mx-auto" src="{{Objeto.imagen.url}}" alt="Card image cap" style="width: 250px;">
          <div class="card-body">
            <p class="card-text">{{Objeto.descripcion}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Usuario: {{Objeto.usuario.username}}</li>
            <li class="list-group-item">Fecha Ingreso:{{Objeto.fecha}}</li>
          </ul>
          <div class="card-body">
              <a class="btn btn-warning" href="{% url 'editarFoto' Objeto.id idGaleria %}">Editar</a>
              <a class="btn btn-danger" href="{% url 'eliminarFoto' Objeto.id idGaleria %}">Eliminar</a>
              {% comment %}
              {% endcomment %}
          </div>
        </div>
      </div>

    {% endfor %}
   {% else %}
   

      <div class="col-md-6 col-xs-12 col-sm-12">
        <div class="card sombra " style="margin-top: 20px;" >
          <!-- <img class="card-img-top  mx-auto" src="{{Objeto.imagen.url}}" alt="Card image cap" style="width: 250px;"> -->
          <div class="card-body">
            <p class="card-text">No Hay Fotos</p>
          </div>

        </div>
      </div>

   {% endif%} 
      </div>
</div>

    <div class="col-md-4 jumbotron sombra" style="margin-top: 20px;">
    <h2>Usuarios miembros</h2>
    <a href="{% url 'verMiembros' idGaleria %}" class="btn btn-lg btn-primary btn-block" role="button">Agregar miembro</a>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Foto</th>
<!--           <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th> -->
          <th scope="col">Acción</th>
        </tr>
      </thead>

    <tbody>
      {% for Objeto in usuarios %}
      <tr>
        <th scope="row">{{Objeto.username}}</th>
        {% if Objeto.imagen %}
        <td><img src="{{Objeto.imagen.url}}" alt="foto" width="50px" height="40px"></td>
        {% else %}
        <td>[-----]</td>
        {% endif %}
<!--         <td>{{Objeto.first_name}}</td>
        <td>{{Objeto.last_name}}</td>
        <td>{{Objeto.edad}}</td> -->
        <td>
          <a href="{% url 'eliminarMiembro' idGaleria Objeto.id %}" class="btn btn-lg btn-primary" role="button">Eliminar Miembro</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</div>



{% endblock %}

{% block paginacion %}

{% if lista_objetos.has_other_pages %}
  <ul class="pagination">
    {% if lista_objetos.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ lista_objetos.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in lista_objetos.paginator.page_range %}
      {% if lista_objetos.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if lista_objetos.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ lista_objetos.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
    </ul>
{% endif %}

{% endblock %}
